@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

.font-hurricane{
    font-family: 'Hurricane', cursive;
    font-size: 24px;
}

.bg-image{
    background-image: url('/public/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}